<template>
  <div id="charts-component">
    <h1>{{ msg }}</h1>
    <div id="charts-cards">
      <router-link v-for="chart in charts"
                   :key="chart.id"
                   :to="{ name: 'singleChart', params: { type: chart.type } }"
                   class="router-link">
        <div class="chart-card">
          <h3>{{ chart.title }}</h3>
          <div>
            <p>{{ chart.textContent }}</p>
          </div>
          <div>
            <img :src="chart.imgUrl" :width="chart.width" :alt="chart.title">
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChartComponent',
  props: {
    msg: String,
  },
  data() {
    return {
      charts: [
        {
          id: 1,
          type: 'LineChart',
          // eslint-disable-next-line
          imgUrl: require('../../assets/lines.png'),
          width: '140px',
          title: 'Line Chart',
          textContent: 'Gráfico de líneas representando mis ingresos en el último año natural.',
        },
        {
          id: 2,
          type: 'BarChart',
          // eslint-disable-next-line
          imgUrl: require('../../assets/bars.png'),
          width: '130px',
          title: 'Bar Chart',
          textContent: 'Gráfico de barras representando mis últimas facturas de Orange.',
        },
        {
          id: 3,
          type: 'DoughnutChart',
          // eslint-disable-next-line
          imgUrl: require('../../assets/donut.png'),
          width: '170px',
          title: 'Doughnut Chart',
          textContent: 'Gráfico tipo donut representando el tiempo dedicado para hacer esta app.',
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  #charts-component {
    animation: fadeIn 0.5s ease;
    h1 {
      width: fit-content;
      margin: 20px auto;
      border-bottom: 1px solid #ab47bc;
      margin: 60px auto;
    }
    #charts-cards {
      width: 80vw;
      margin: 100px auto;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(320px, auto) );
      grid-gap: 20px;
      @media screen and (max-width: 414px) {
        width: 90vw;
      }
      @media screen and (max-width: 350px) {
        grid-template-columns: repeat( auto-fit, minmax(280px, auto) );
      }
      .router-link {
        text-decoration: none;
      }
      .chart-card {
        border-radius: 4px;
        box-shadow: 6px 7px 12px 0 rgba(0, 0, 0, 0.12);
        padding: 10px;
        height: 250px;
        background-image: linear-gradient(130deg, #df40fb, #15e1fb);
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease;
        @media screen and (max-width: 350px) {
          height: 280px;
        }
        div {
          padding: 0 20px;
        }
      }
      .chart-card:hover {
        margin-top: -5px;
        box-shadow: 10px 11px 16px 0 rgba(0, 0, 0, 0.089);
      }
    }
  }
</style>
