<template>
  <div id="charts-component">
    <h1>{{ type }}</h1>
    <div id="line-chart-container">
      <line-chart v-if="type == 'LineChart'"></line-chart>
      <bar-chart v-if="type == 'BarChart'"></bar-chart>
      <doughnut-chart v-if="type == 'DoughnutChart'"></doughnut-chart>
      <router-link to="/charts"
                    class="go-back"
                    @click.native="tabSelected = '/charts'">Atrás</router-link>
    </div>
  </div>
</template>

<script>
import LineChart from './ChartsJS/LineChart';
import BarChart from './ChartsJS/BarChart';
import DoughnutChart from './ChartsJS/DoughnutChart';

export default {
  name: 'SingleChartComponent',
  props: {
    msg: String,
    type: String,
  },
  components: {
    'line-chart': LineChart,
    'bar-chart': BarChart,
    'doughnut-chart': DoughnutChart,
  },
};
</script>

<style scoped lang="scss">
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  #charts-component {
    animation: fadeIn 0.5s ease;
    h1 {
      width: fit-content;
      margin: 20px auto;
      border-bottom: 1px solid #ab47bc;
      margin: 60px auto;
    }
    #line-chart-container {
      width: 70vw;
      margin: 100px auto;
      position: relative;
      @media screen and (max-width: 414px) {
        width: 95vw;
        margin: 0 auto;
      }
    }
    .go-back {
      background-color: #ab47bc;
      color: #fff;
      padding: 10px;
      border-radius: 4px;
      text-decoration: none;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (min-width: 414px) {
        top: -70px;
        width: 80px;
        font-weight: 600;
      }
    }
  }
</style>
