<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon.png">
    <title>Generador de Gráficos Online gratuito | ChartIt</title>
    <meta name="description" content="Generador de gráficos online gratuito e intuitivo, ¡empieza a crear tus gráficos ya con ChartIt!" class="next-head">
    <style>
      html, body {
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but chart it doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
