<template functional>
  <div id="about-component">
    <h1>{{ props.msg }}</h1>
    <h2>Esta es una App hecha en Vue js para una prueba técnica en BICG</h2>
    <div class="used-tools">
      <span>Herramientas y Dependencias</span>
      <ul>
        <li><span>Vue/CLI 3.5.1</span> para generar la arquitectura base de la página</li>
        <li><span>vue-router</span> para paginación</li>
        <li><span>Chart.js</span> para la representación de gráficos</li>
        <li><span>Sass</span> para los estilos</li>
        <li><span>Sketch</span> para el diseño del logo y el favicon
            <br> => Diseño hecho por mi compi y UX/UI Designer Miguel</li>
        <li><span>Airbnb eslint</span> para limpiar el código</li>
      </ul>
    </div>
  </div>
</template>

<style scoped lang="scss">
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  #about-component {
    animation: fadeIn 0.5s ease;
    h1 {
      width: fit-content;
      margin: 20px auto;
      border-bottom: 1px solid #ab47bc;
      margin: 60px auto;
    }
    h2 {
      color: rgba(0, 0, 0, 0.5);
      font-size: 18px;
      font-weight: 600;
    }
    .used-tools {
      margin: 50px auto;
      width: 500px;
      @media screen and (max-width: 767px) {
        width: 80vw;
      }
      span {
        font-size: 18px;
        font-weight: 600;
      }
      ul {
        list-style: circle;
        text-align: left;
        @media screen and (max-width: 414px) {
          padding: 40px;
        }
        li {
          margin-bottom: 10px;
          span {
            color: #ab47bc;
          }
        }
      }
      @media screen and (max-width: 414px) {
        width: 100vw;
      }
    }
  }
</style>
