<template>
  <div class="about">
    <AboutComponent msg="About"/>
  </div>
</template>

<script>
// @ is an alias to /src
import AboutComponent from '@/components/about/AboutComponent.vue';

export default {
  name: 'about',
  components: {
    AboutComponent,
  },
};
</script>
