<template>
  <div class="about">
    <ChartsComponent msg="Charts"/>
  </div>
</template>

<script>
// @ is an alias to /src
import ChartsComponent from '@/components/charts/ChartsComponent.vue';

export default {
  name: 'charts',
  components: {
    ChartsComponent,
  },
};
</script>
