<template>
  <div class="about">
    <SingleChartComponent msg="Chart" :type=type />
  </div>
</template>

<script>
// @ is an alias to /src
import SingleChartComponent from '@/components/charts/SingleChartComponent.vue';

export default {
  name: 'singleChart',
  components: {
    SingleChartComponent,
  },
  props: {
    type: String,
  },
};
</script>
