<template>
  <div class="home">
    <HomeComponent v-bind:screen="screen" />
  </div>
</template>

<script>
// @ is an alias to /src
import HomeComponent from '@/components/home/HomeComponent.vue';

export default {
  name: 'home',
  components: {
    HomeComponent,
  },
  data() {
    return {
      screen: 'desktop',
    };
  },
  created() {
    this.screen = window.innerWidth < 768 ? 'mobile' : 'desktop';
  },
  mounted() {
    window.addEventListener('resize', this.handleResize);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    // whenever the document is resized, re-set the 'screen' variable
    handleResize() {
      this.screen = window.innerWidth < 768 ? 'mobile' : 'desktop';
    },
  },
};
</script>
