<template functional>
  <div id="home-component">
    <img alt="aplicación de gráficos chart it"
         src="../../assets/logo-mobile.svg"
         v-if="props.screen == 'mobile'">
    <img alt="aplicación de gráficos chart it"
         src="../../assets/logo.svg"
         v-if="props.screen == 'desktop'">
    <h1>
      Demos de gráficos random para mi prueba de <a href="https://www.bicg.com/es/">BICG</a>.<br>
      Nada tiene sentido... es una demo!
    </h1>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
#home-component {
  animation: fadeIn 0.5s ease;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 700px;
    margin: 50px 50px 30px 50px;
    @media screen and (max-width: 768px) {
      width: 90vw;
      margin: 100px 0 30px 0;
    }
  }
  h1 {
    font-size: 22px;
    font-weight: 500;
    color: #9c27b0;
    a {
      color: #00cbf9;
      text-decoration: none;
    }
    @media screen and (max-width: 414px) {
      font-size: 16px;
    }
  }
}
</style>
