<template>
  <div id="app">
    <div id="nav" v-if="screen == 'desktop'">
      <div id="links">
        <router-link v-for="route in routes"
                     :key="route.name"
                     :to="route.to"
                     :class="[ tabSelected == route.to || tabSelected == ('/bicg-vue-app' + route.to) ?
                      'selected' :
                      '' ]"
                     @click.native="tabSelected = route.to">
          {{ route.name }}
        </router-link>
      </div>
    </div>

    <div class="open-menu" v-if="screen == 'mobile'" @click="menuBar = true">
      <img src="./assets/hamburguer.png" alt="|||" width="35px">
    </div>

    <div class="mobile-nav" v-if="screen == 'mobile'" :class="[ menuBar ? 'open' : '' ]">
      <img src="./assets/close.png" alt="close" class="close-menu" @click="menuBar = false">
      <div class="mobile-links">
        <router-link v-for="route in routes"
                     :key="route.name"
                     :to="route.to"
                     @click.native="tabSelected = route.to; menuBar = false">
          {{ route.name }}
        </router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabSelected: '/',
      screen: 'desktop',
      menuBar: false,
      routes: [
        { to: '/', name: 'Home' },
        { to: '/charts', name: 'Charts' },
        { to: '/about', name: 'About' },
      ],
    };
  },
  created() {
    this.tabSelected = window.location.pathname;
    this.screen = window.innerWidth < 768 ? 'mobile' : 'desktop';
  },
  mounted() {
    window.addEventListener('resize', this.handleResize);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    // whenever the document is resized, re-set the 'screen' variable
    handleResize() {
      this.screen = window.innerWidth < 768 ? 'mobile' : 'desktop';
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 0 30px;
  @media screen and (max-width: 414px) {
    padding: 0;
  }
  #links {
    width: 400px;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 414px) {
      width: 95vw;
    }
  }
  a {
    font-size: 20px;
    font-weight: 500;
    color: #4a148c;
    padding: 20px;
    text-decoration: none;
    margin-bottom: 4px;
    &.router-link-exact-active {
      color: #ab47bc;
    }
    @media screen and (max-width: 414px) {
      padding: 5px;
    }
  }
  .selected {
    border-bottom: 4px solid #df40fb;
    margin-bottom: 0;
    transition: all 0.3s ease;
  }
}
.open-menu {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  img {
    background-color: #fff;
    border-radius: 4px;
  }
}
.mobile-nav {
  background-color: #54145ff3;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 85vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  z-index: 20;
  transition: all 0.5s ease;
  .mobile-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    a {
      margin: 0;
      width: 100%;
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      &.router-link-exact-active {
        background-color: #15e1fb;
        color: #54145ff3;
      }
    }
  }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-weight: 600;
    width: 30px;
  }
}
.open {
  left: 0;
}
</style>
